@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
    min-height: 100vh;
    font-family: "Noto Sans JP";
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#finish-screen {
    text-align: center;
}

.final__score {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #b6b6b6;
    margin-bottom: 1rem;
}

.quiz-container {
    background-color: white;
    width: 500px;
    box-shadow: 0 4px 8px 5px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 12px;
    overflow: hidden;
    max-width: 100%;
}

.quiz-header {
    padding: 4rem;
}

#question_text {
    margin-top: -1rem;
    padding-bottom: 2rem;
    text-align: center;
}

.quiz-header ul{
    list-style-type: none;
    padding: 0;
    cursor: pointer;
}

.quiz-header li:hover {
    border-radius: 5px;
    background-color: #c8dbe7;
    transition: 0.3s;
}

button {
    background-color: #3498db;
    color: white;
    display: block;
    width: 100%;
    padding: 1rem;
    font-family: inherit;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #267fbb;
}

button:focus {
    background-color: #0d4970;
    outline: none;
}